<Page xmlns="http://schemas.nativescript.org/tns.xsd" loaded="eventPageLoaded">
  <DockLayout stretchLastChild="true">
    <ListView dock="top" items="{{events}}">
	    <ListView.itemTemplate>
	        <Label horizontalAlignment="stretch" height="50px" text="{{text}}" />
	    </ListView.itemTemplate>
    </ListView>
  </DockLayout>
</Page>
